<header class="header">

    <div class="logo">Food ResQ</div>

    <nav class="navbar">
        <a href="{% url 'user-items' %}" class="navitem">Inventory</a>
        <a href="{% url 'recipes' %}" class="navitem">Recipies</a>
        {% comment %} <a href="#" class="navitem">Items saved</a> {% endcomment %}
        <a href="{% url 'home' %}" class="navitem">About us</a>
    </nav>
    {% if request.user.is_authenticated %}
    <div class="userAuth">
        <a href="{% url 'logoutuser' %}"><button class="button_userAuth" action="">Log Out</button></a>
        
    </div>
    {% else %}
    <div class="userAuth">
        <a href="{% url 'loginuser' %}"><button class="button_userAuth" action="">Log In</button></a>
        <a href="{% url 'signupuser' %}"><button class="button_userAuth" action="">Sign In</button></a>
    </div>
    {% endif %}
</header>
