{% extends 'main.html' %}

{% block content %}
{% load static %}
<main class="main">
    <section class="mainContainer">
        <div class="intro">
            <p class="intro-slogan">Welcome to <br><strong>Food ResQ</strong><br>
                <lable class="into_lable"> eat everything you buy!</lable>
            </p>
            <a href="{% url 'signupuser' %}"><span class="getStarted">Get Started</span></a>
        </div>
        <div class="info_food_wastage">
            <lable class="foodwastage_heading">Food Wastage</lable>
            <br>
            <img src="{% static 'images/food waste 1.png' %}" alt="" class="foodwaste_image_1">
            <p>
                Food waste has become a habit
                We buy more food than we need at markets, letting fruits and vegetables spoil in the fridge. These habits put extra strain on our natural resources and damage our environment. In short, wasting food increases greenhouse gas emissions and contributes to climate change.
                Reducing food loss and waste is essential in a world where millions of people go hungry every day.
                Develop an application which helps the user to keep track of what’s in the kitchen with expiry dates and reduce the net wastage of food.
            </p>
            <p>
                {% comment %} <img src="{% static 'images/avoid food waste.PNG' %}" alt="" class="foodwaste_image_2"> {% endcomment %}
                Recently, on a food research trip to the Garhwal region of Uttarakhand, I watched a rather extraordinary traditional ritual. The entire mountain village of Satta in Tons Valley came together to slaughter, cook and honour a goat they had raised as a community for close to a year. Every part of the animal from head to tail was turned into something useful or delicious. Nothing was wasted. The community’s frugality is in stark contrast to how meat is consumed in most parts of urban India today, where the prime cuts are usually prized.

The problem of food waste is a relatively modern one. India is an ancient civilisation and we have been prudent about food for millennia. Our parents and grandparents, too, once approached food and cooking with the same prudence. Yet, somewhere along the way, we lost sight of this “waste not, want not” mentality.
            </p>
        </div>
        <hr>
        <div class="solution">
            <lable class="ourSolution">Our Solutions</lable>
            <div class="solutions">
                <img src="{% static 'images/avoid food waste.PNG' %}" alt="" class="solution_image_1">
                <p class="solution_descr">
                    <strong>Recipes for your inventory : </strong><br>
                    There maybe many such applications which may suggest you recipes but people usually quit,  looking at the list of fancy ingredients required to make the recipes .
                    <br>We will be suggesting recipes keeping in mind the ingredients present in your kitchen.
                    <br><br><br><br>
                </p>
            </div>

            <div class="solutions">
                
                <img src="{% static 'images/store-food-smartly.jpg' %}" alt="" class="solution_image_2">
                <p class="solution_descr">
                    <strong>Be Smart About Food Storage : </strong><br>Our interface will help you with that for each step<br>
                    We will notify you about a product a day before its expiry date. <br>
                    So that you can utilize and save it before it perishes. <br>
                    <br><br>
                
                </p>
            </div>

            

            <br><br><br>

            <div class="solutions">
                <img src="{% static 'images/OIP.jpg' %}" alt="" class="solution_image_1">
                <p class="solution_descr">
                    <strong>Social Networking</strong><br>
                    We would like to offer you a platform to be able to share your best recipes and try out and rate the ones others have shared. Bon Appetit!
                    <br>We are still in beta stage but look forward to add this feature very soon.
                </p>
            </div>
        </div>
    </section>
</main>

<footer class="footer">

    <lable class="meetTheTeam">Binary Brains</lable>
    <br>
    <a href="https://github.com/Sujaljp/Rubix-22-34-Binary-Brains"><img src="{% static 'images/github image.jpg' %}" alt="" class="github"></a>
<br>
    <div class="team">
        <div class="names">
            <p class="name">Swapnil Thatte</p>
            <p class="name">Anishkumar Iyer</p>
            <p class="name">Sujal Patil</p>
            <p class="name">Tarun Shetty</p>
        </div>
    </div>
</footer>
{% endblock content %}