{% extends 'main.html' %}

{% block content %}
{% load static %}
<main class="main">
    <section class="mainContainer">
        <div class="intro">
            <p class="intro-slogan">Welcome to <br><strong>Food ResQ</strong><br>
                <lable class="into_lable"> eat everything you buy!</lable>
            </p>
            <a href="{% url 'signupuser' %}"><span class="getStarted">Get Started</span></a>
        </div>
        <div class="info_food_wastage">
            <lable class="foodwastage_heading">Food Wastage</lable>
            <br>
            <img src="{% static 'images/food waste 1.png' %}" alt="" class="foodwaste_image_1">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, quae velit. Similique ab harum
                magni impedit in iusto sint quis, sunt voluptatum laboriosam hic exercitationem dolorum dicta
                facilis natus fuga delectus ratione distinctio atque nisi. Blanditiis, nam in quas deleniti dolore
                dolores soluta vel ea delectus iure sunt magnam esse inventore perferendis quia cupiditate, qui
                harum voluptatum nesciunt commodi? Ut expedita aliquid excepturi sint esse adipisci. Voluptates
                repudiandae, ex harum doloremque commodi molestias dolorum itaque maxime natus, ad eligendi sunt
                dolore tempore voluptatum architecto perspiciatis illo sapiente! Minus, molestiae. Nam earum amet
                nihil magnam rem ad accusamus hic. Officiis voluptas quas, ex fuga tenetur natus asperiores.
                Consequatur debitis aut maxime repellat tenetur vel maiores ullam cum nesciunt necessitatibus
                provident deleniti sunt, fuga ex quidem voluptates minus excepturi? Optio autem esse laboriosam
                repellat fugiat doloremque repellendus necessitatibus nesciunt at, nostrum quasi recusandae
                aspernatur incidunt commodi enim quisquam cumque, assumenda, dolorem fugit accusantium repudiandae.
                Minima, mollitia? Quia provident ipsum ab officiis facilis minus ad dicta sint placeat, illo
                suscipit. Sapiente ad excepturi fuga. Dolore delectus nostrum nesciunt incidunt ipsam? Iure ex
                perferendis impedit maiores explicabo rem,
                <img src="{% static 'images/food waste 1.png' %}" alt="" class="foodwaste_image_2"> in, minus repudiandae
                cupiditate quis dicta quidem porro
                culpa ullam excepturi minima aperiam modi nisi? Doloribus facere asperiores architecto nobis
                molestiae labore at tempora totam nulla quasi cupiditate commodi iure necessitatibus optio sint
                debitis veniam consequatur enim nesciunt explicabo, nisi quod laborum? Officia aut nemo deserunt
                cupiditate asperiores esse dolorum laudantium modi repudiandae aspernatur temporibus vero error
                autem, a repellat nihil enim doloribus atque eius fuga quisquam odit nisi, corrupti nam? Repellat
                deleniti quia ad optio dolor, nam delectus. Vitae beatae, incidunt, mollitia harum nam repellendus
                veritatis facere maiores laborum non enim iste, qui officiis ex. Voluptate consectetur recusandae
                sit? Optio quam, autem, obcaecati impedit sunt labore hic a quos aut quia non ex accusamus ipsa
                temporibus adipisci unde reprehenderit? Itaque nihil adipisci quisquam facilis velit fugiat eum
                possimus tempora cupiditate, quibusdam rem eaque voluptatibus sapiente ut ipsum, rerum illum libero
                sit corporis, consequuntur expedita? Eum sit perspiciatis perferendis quibusdam voluptates
                consequatur odio quos earum, aliquam non possimus voluptatem, quis error suscipit quia? Quod fugiat
                nisi eveniet qui accusamus distinctio ut veniam unde id error quidem corporis, minima cumque facere
                praesentium tempore. Ipsam, incidunt voluptatem. Sapiente quibusdam optio corrupti facere mollitia
                vitae repudiandae cumque ipsum aspernatur cupiditate ea labore consequatur libero nam ipsa
                voluptatem deleniti, ab inventore quisquam amet deserunt! Eius et nemo nihil harum quo?
            </p>
        </div>
        <hr>
        <div class="solution">
            <lable class="ourSolution">Our Solution</lable>
            <div class="solutions">
                <img src="{% static 'images/avoid food waste.PNG' %}" alt="" class="solution_image_1">
                <p class="solution_descr">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam
                    suscipit, unde minus vel in ipsam quibusdam ex voluptatibus illo officiis, at quae voluptatem
                    repudiandae necessitatibus rem ullam alias placeat aliquid repellat quis voluptas officia. Velit
                    saepe dolore in asperiores animi culpa non sed? Facilis numquam, incidunt non praesentium cum ut
                    ea labore fugit facere eaque quasi amet doloribus. Molestiae itaque illum id aspernatur corporis
                    ipsum! Ipsam nesciunt soluta itaque reiciendis.</p>
            </div>

            <br><br><br>

            <div class="solutions">
                <img src="{% static 'images/avoid food waste.PNG' %}" alt="" class="solution_image_2">
                <p class="solution_descr">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam
                    suscipit, unde minus vel in ipsam quibusdam ex voluptatibus illo officiis, at quae voluptatem
                    repudiandae necessitatibus rem ullam alias placeat aliquid repellat quis voluptas officia. Velit
                    saepe dolore in asperiores animi culpa non sed? Facilis numquam, incidunt non praesentium cum ut
                    ea labore fugit facere eaque quasi amet doloribus. Molestiae itaque illum id aspernatur corporis
                    ipsum! Ipsam nesciunt soluta itaque reiciendis.</p>
            </div>

            <br><br><br>

            <div class="solutions">
                <img src="{% static 'images/avoid food waste.PNG' %}" alt="" class="solution_image_1">
                <p class="solution_descr">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam
                    suscipit, unde minus vel in ipsam quibusdam ex voluptatibus illo officiis, at quae voluptatem
                    repudiandae necessitatibus rem ullam alias placeat aliquid repellat quis voluptas officia. Velit
                    saepe dolore in asperiores animi culpa non sed? Facilis numquam, incidunt non praesentium cum ut
                    ea labore fugit facere eaque quasi amet doloribus. Molestiae itaque illum id aspernatur corporis
                    ipsum! Ipsam nesciunt soluta itaque reiciendis.</p>
            </div>
        </div>
    </section>
</main>

<footer class="footer">

    <lable class="meetTheTeam">Binary Brains</lable>
    <br>
    <img src="{% static 'images/github image.jpg' %}" alt="" class="github">
<br>
    <div class="team">
        <div class="names">
            <p class="name">Swapnil Thatte</p>
            <p class="name">Anishkumar Iyer</p>
            <p class="name">Sujal Patil</p>
            <p class="name">Tarun Shetty</p>
        </div>
    </div>
</footer>
{% endblock content %}